.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.filters-focused {
  height: 32px !important;
  overflow: hidden;
  transition: height 0.3s ease;
}

@media (max-width: 600px) {
    .filters {
        position: sticky;
        top: 15px;
        align-content: center;
        overflow: hidden;
        z-index: 100;
    }

    .filters input {
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        transition: all 0.3s ease;
        width: 100%;
    }

    .filters-focused {
        height: 285px !important;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    button {
        width: 100%;
    }
}